<div class="article-inpost">
    <div class="row">
        <div class="col-md-6">
            <div class="image-content">
                <div class="image-place">
                    <img src="frontend/upload/news-posts/single-art2.jpg" alt="">
                    <div class="hover-image">
                        <a class="zoom" href="frontend/upload/news-posts/single-art2.jpg"><i class="fa fa-arrows-alt"></i></a>
                    </div>
                </div>
                <span class="image-caption">Cras eget sem nec dui volutpat ultrices.</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="image-content">
                <div class="image-place">
                    <img src="frontend/upload/news-posts/single-art3.jpg" alt="">
                    <div class="hover-image">
                        <a class="zoom" href="frontend/upload/news-posts/single-art3.jpg"><i class="fa fa-arrows-alt"></i></a>
                    </div>
                </div>
                <span class="image-caption">Cras eget sem nec dui volutpat ultrices.</span>
            </div>
        </div>
    </div>
</div>