<div class="container mt-5">
	<ul class="nav nav-tabs" id="settingsTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="general-settings-tab" data-toggle="tab" href="#general-settings" role="tab" aria-controls="general-settings" aria-selected="true">General Settings</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="email-settings-tab" data-toggle="tab" href="#email-settings" role="tab" aria-controls="email-settings" aria-selected="false">Email Settings</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="ads-settings-tab" data-toggle="tab" href="#ads-settings" role="tab" aria-controls="ads-settings" aria-selected="false">Ads Settings</a>
		</li>
	</ul>

	<div class="tab-content" id="settingsTabContent">
		<!-- General Settings Tab -->
		<%- include('./general') %>
		<!-- Email Settings Tab -->
		<%- include('./email') %>
		<!-- User Settings Tab -->

		<!-- Ads Settings Tab -->
		<%- include('./ads') %>
		<div class="card-footer">
			<div class="col-12 col-sm-8 offset-sm-2">
				<button type="submit" class="btn btn-sm btn-success mr-1" onclick="updateSettings()">
					Submit</button>                                                 
				<a href="/admin/settings" class="btn btn-sm btn-danger mr-1">
					Cancel</a>
			</div>
		</div>
	</div>
</div>