<div class="container mt-5">
	<ul class="nav nav-tabs" id="settingsTab" role="tablist">
	  <li class="nav-item">
		<a class="nav-link active" id="email-settings-tab" data-toggle="tab" href="#email-settings" role="tab" aria-controls="email-settings" aria-selected="true">Email Settings</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" id="general-settings-tab" data-toggle="tab" href="#general-settings" role="tab" aria-controls="general-settings" aria-selected="false">General Settings</a>
	  </li>
	</ul>
	<div class="tab-content" id="settingsTabContent">
	  <!-- Email Settings Tab -->
	  <div class="tab-pane fade show active" id="email-settings" role="tabpanel" aria-labelledby="email-settings-tab">
		<div class="card card-primary mt-3">
		  <div class="card-header">
			<h3 class="card-title">Email Settings</h3>
		  </div>
		  <div class="card-body">
			<div class="form-group">
			  <label for="senderName">Sender Name</label>
			  <input type="text" class="form-control" id="senderName" placeholder="Enter sender name" value="<%= emailSettings.senderName %>">
			</div>
			<div class="form-group">
			  <label for="senderEmail">Sender Email</label>
			  <input type="email" class="form-control" id="senderEmail" placeholder="Enter sender email" value="<%= emailSettings.senderEmail %>">
			</div>
			<div class="form-group">
				<label for="templateSubject">Subject</label>
				<input type="text" class="form-control" id="templateSubject" placeholder="Enter email subject" value="<%= emailSettings.senderSubject %>">
			  </div>
			<!-- <div class="form-group">
			  <label for="replyToEmail">Reply-To Email</label>
			  <input type="email" class="form-control" id="replyToEmail" placeholder="Enter reply-to email">
			</div> -->
			<div class="form-group">
				<label for="templateBody">Body</label>
				<textarea class="form-control" id="templateBody" rows="4" placeholder="Enter email body"><%= emailSettings.senderMessage %></textarea>
			  </div>
			  <button id="saveEmailSettings" class="btn btn-success btn-block">Save Email Settings</button>
		  </div>
		</div>
	  </div>
	  
	  <!-- General Settings Tab -->
	  <div class="tab-pane fade" id="general-settings" role="tabpanel" aria-labelledby="general-settings-tab">
		<div class="card card-primary mt-3">
		  <div class="card-header">
			<h3 class="card-title">General Settings</h3>
		  </div>
		  <!-- <div class="card-body">
			<div class="form-group">
			  <label for="templateSelection">Template Selection</label>
			  <select class="form-control" id="templateSelection">
				<option>Template 1</option>
				<option>Template 2</option>
			  </select>
			</div>
			<div class="form-group">
			  <label for="templateSubject">Subject</label>
			  <input type="text" class="form-control" id="templateSubject" placeholder="Enter email subject">
			</div>
			<div class="form-group">
			  <label for="templateBody">Body</label>
			  <textarea class="form-control" id="templateBody" rows="4" placeholder="Enter email body"></textarea>
			</div>
			<button class="btn btn-primary">Preview</button>
		  </div> -->
		</div>
	  </div>
	</div>
  </div>
  