<h1 class="category-title"><%= currentCategoryPage.name %></h1>
<ul class="category-filter-posts">
    <li><a class="active" href="">All</a></li>
    <li><a href="#">Beauty ideas</a></li>
    <li><a href="#">hair</a></li>
    <li><a href="#">makeup</a></li>
</ul>
