 <!-- Pagination box -->
 <div class="pagination-box">
    <ul class="pagination-list">
        <li><a class="active" href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><span>...</span></li>
        <li><a href="#">9</a></li>
        <li><a href="#">Next</a></li>
    </ul>
    <p>Page 1 of 9</p>
</div>
<!-- End Pagination box -->