
<!-- block-wrapper-section
	================================================== -->
	<section class="block-wrapper">
		<div class="container">
			<div class="row">
			<%- include('../../elements/top-review.ejs') %>
			<%- include('../../elements/category/block-content.ejs') %>
			<%- include('../../elements/stay-connected.ejs') %>
			</div>
		</div>
	</section>
<!-- End block-wrapper-section -->