<header class="clearfix third-style">
    <!-- Bootstrap navbar -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation">

        <!-- Top line -->
        <%- include('../elements/header/header-topline.ejs') %>
        <!-- End Top line -->

        <!-- navbar list container -->

        <!-- End navbar list container -->
        <%- include('../elements/header/header-menu.ejs') %>
    </nav>
    <!-- End Bootstrap navbar -->

</header>