<div class="col-md-2 col-sm-0">
	
    <!-- sidebar -->
    <div class="sidebar small-sidebar">

        <div class="widget review-widget">
            <h1>Top Reviews</h1>
            <ul class="review-posts-list">
                <li>
                    <img src="/frontend/upload/news-posts/rev1.jpg" alt="">
                    <h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum.</a></h2>
                    <span class="date"><i class="fa fa-clock-o"></i>27 may 2013</span>
                    <span class="post-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                </li>
                <li>
                    <img src="/frontend/upload/news-posts/rev2.jpg" alt="">
                    <h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum.</a></h2>
                    <span class="date"><i class="fa fa-clock-o"></i>27 may 2013</span>
                    <span class="post-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </span>
                </li>
                <li>
                    <img src="/frontend/upload/news-posts/rev3.jpg" alt="">
                    <h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum.</a></h2>
                    <span class="date"><i class="fa fa-clock-o"></i>27 may 2013</span>
                    <span class="post-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </span>
                </li>
                <li>
                    <img src="/frontend/upload/news-posts/rev4.jpg" alt="">
                    <h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum.</a></h2>
                    <span class="date"><i class="fa fa-clock-o"></i>27 may 2013</span>
                    <span class="post-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </span>
                </li>
                <li>
                    <img src="/frontend/upload/news-posts/rev5.jpg" alt="">
                    <h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum.</a></h2>
                    <span class="date"><i class="fa fa-clock-o"></i>27 may 2013</span>
                    <span class="post-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                </li>
            </ul>
        </div>

        <div class="advertisement">
            <div class="desktop-advert">
                <span>Advertisement</span>
                <img src="/frontend/upload/addsense/160x600.jpg" alt="">
            </div>
        </div>

        <div class="widget categories-widget">
            <div class="title-section">
                <h1><span>Hot Categories</span></h1>
            </div>
            <ul class="category-list">
                <li>
                    <a href="#">Fashion <span>142</span></a>
                    <ul class="level2">
                        <li><a href="#">Fashion News <span>26</span></a></li>
                        <li><a href="#">Accessories <span>55</span></a></li>
                        <li><a href="#">Collection <span>37</span></a></li>
                        <li><a href="#">Street Style <span>62</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Beaty <span>26</span></a>
                    <ul class="level2">
                        <li><a href="#">Beaty Ideas <span>43</span></a></li>
                        <li><a href="#">Hair <span>74</span></a></li>
                        <li><a href="#">Makeup <span>11</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">People <span>26</span></a>
                    <ul class="level2">
                        <li><a href="#">Celebrity News <span>79</span></a></li>
                        <li><a href="#">Decorating <span>55</span></a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Food &amp; Health <span>55</span></a>
                </li>
                <li>
                    <a href="#">Career <span>37</span></a>
                </li>
                <li>
                    <a href="#">Weddings <span>62</span></a>
                </li>
            </ul>
        </div>

    </div>

</div>